.ant-carousel .slick-slide {
  text-align: center;
  width: 80%;
  height: 55vh;
  // line-height: 160px;
  // background: #364d79;
  display: flex;
  overflow: hidden;
  img {
    max-height: 55vh;
  }
}

.ant-carousel .slick-slide h3 {
  color: #D0D0D0;
}

.ant-carousel .slick-dots li button {
  background-color: #D0D0D0;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #D0D0D0;
}
