.all-projects {
  width: 100vw;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  // justify-content: center; 
  margin: 0 35px;
  // border: 5px solid black;
}

.project-img-feed {
  object-fit: cover;
  width: 10vw;
  height: 10vw;
  // align-content: center;
  // border-radius: 10vw;
}

.project-in-feed {
  align-self: center;
  width: 10vw;
  margin: 10px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
} 

.project-detail {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  // flex-wrap: nowrap;
  // align-content: center;
}
.projects-title {
  font-size: 15px;
  text-align: center;
  text-align: center;
}
.project-description {
  text-align: center;
}
.project-context {
  text-align: center;
  display: inline;
}
.project-img {
  object-fit: contain;
  display: inline;
  max-width: 40vw;
  max-height: 40vw;
  align-self: center;
}
.project-title {
  text-align: center;
}
.project-subtitle {
  text-align: center;
}
.project-author{
  text-align: center;
}
.project-category{
  text-align: center;
}
.project-tags {
  text-align: center;
}



.about-area {
  max-width: 900px;
  align-self: center;
}