@import 'variables.scss';

section {
  width: 100vw;
} 

.landing-section{

  width: 90vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.landing-wrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  padding: 20px 0;
}
.landing-text {
  font-family: $main-font;
  text-align: center;
  font-size: 3.5rem;
  color: $landing-color;
}
.landing-link {
  text-decoration: none;
  color: white;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.landing-random {
  display: inline;
}

.action {
  font-weight: 400;
}
.object {
  font-weight: 700;
}

.lang-button {
  align-self: center;
  background-color: $landing-color;
  color: $secondary-color;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-family: $main-font;
  font-size: 10px;
  font-weight: 700;
}
.landing-area {
  max-height: 600px;
  height: 600px;
  width: 600px;
  background-image: url('https://res.cloudinary.com/dmtbzrye8/image/upload/v1547832899/carlotaWeb/cover_prov.png');
  // background-clip: content-box;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center; 
}
.landing-image {
  max-height: 400px;
  object-fit: cover;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .landing-text {
    font-size: 2rem;
  }
}
