@import "variables.scss";

section{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.landing-wrapper{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}
.landing-text{
    font-family: $main-font;
    font-size: 4rem;
    color: $landing-color;
}

.landing-random {
    display: inline;
}

.action {
    font-weight: 400;
}
.object{
    font-weight: 700;
}

.lang-button{
    align-self: center;
    
}
