@import "variables.scss";
@import "mixins.scss";

.nav-style {
  color: $primary-color;
  background-color: $background-color;
  z-index: 3;
  margin: 0;
  padding: 0;
  height: $nav-height;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  border-radius: 0px;
  & ul {
    display: flex;
  }
  & a {
    display: inline;
    color: $primary-color;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    
    & :hover {
      color: $accent-color;
    }
  }
}
.nav-link {
  align-self: center;
  justify-self: center;
  //text-align: center;
  font-family: $main-font;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 10px;
}

.nav-width {
  //width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#top-nav {
  position: fixed;
  top: 0;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
}
