@import 'variables.scss';
@import 'mixins.scss';

$display-height: 70vh ; 

.projects-list {
  display: block;
  height: 20vh;
  overflow: auto;
  white-space: nowrap;
}

.project-in-list {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
  width: 400px;
  height: 20vh;
  padding: 5px 10px;
  // border: 1px solid black;
  h3,
  h2,
  p {
    text-decoration: none;
    color: $primary-color;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h3 {
    font-size: 2em;
  }
  h2{
    font-size: 1.2em;
  }
}

.project-img-wrapper {
  display: flex;
  height: $display-height;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.project-img-list {
  display: inline-block;
  margin: auto;
  justify-self: center;
  align-self: center;
  max-height: $display-height;
  max-width: 100%;
}
